.header {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-family: sans-serif;
  padding: 40% 0;
}

.subs {
  font-weight: 300;
  letter-spacing: 0.1em;
  font-family: sans-serif;
}

.rest {
  font-weight: 300;
  letter-spacing: 0.1em;
  font-family: sans-serif;
}

.home-background-left {
  background-image: url(image_path('arq.jpg'));
  background-size: cover;
  opacity: 0.9;
}

.home-background-right {
  background-image: url(image_path('viz.jpg'));
  background-size: cover;
  opacity: 0.9;
  position: center;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom)*/
  transition: transform 1.5s; /* Animation */
}
