<%= content_for :menu do %>
""
<% end %>

<div class="h-screen flex">

<div class="w-1/2 content-center" style="padding-top: 20%;">
  <div class="w-4/6 mx-auto content-center">
    <h1 class="text-xl font-medium">Dreams should be seen</h1>
    <h2 class="font-extralight mt-6">Silueta is an inter-disciplinary group of young architects and artists committed to building and portraying architecture while addressing the emerging problems in the relationship between material construction and digital visualization</h2>
    <h1 class="text-xl font-medium text-blue-700 pt-10">↓ Press</h1>
  </div>
</div>


<div class="w-1/2 bg-blue-700">
    <div class="pr-3 pt-3">
    <div class="py-2" style="padding-left: 94%">
      <div class="border-2 border-white rounded-full mx-2">
        <h1 class="text-white text-right text-2xl pr-2"><%= link_to 'X', home_path %></h1>
      </div>
    </div>
  </div>
</div>

</div>


<div class="bg-blue-700 flex-grow-1" style=" min-height: 100vh; display: flex; flex-direction: column;">

  <div class="pr-3 pt-3">
    <div class="py-2" style="padding-left: 97%">
      <div class="border-2 border-white rounded-full mx-2">
        <h1 class="text-white text-right text-2xl pr-2"><%= link_to 'X', home_path %></h1>
      </div>
    </div>
  </div>

  <h1 class="text-white text-center text-8xl font-semibold">PRESS</h1>

  <div style="margin-right: 10%; margin-left: 10%;">

    <div class="flex flex-wrap text-white pt-12">

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

      <div class="flex w-1/2 py-10">
        <div class="italic font-light text-sm">October 2021</div>
        <div class="pl-10 mr-10">
          <h1 class="text-xl font-medium">Interior design</h1>
          <h2 class="font-extralight">Silueta's comfort is a testament to the digital sphere. They are the living proof that digitalization can bring us closer both to each other and the spaces we inhabbit.</h2>
        </div>
      </div>

    </div>

  </div>

</div>

