<%= content_for :menu do %>
""
<% end %>

<div class="bg-blue-700 h-screen">

  <h1 class="text-white text-right text-2xl py-2 pr-4 border-2 border-white rounded-full">✕</h1>
  <h1 class="text-white text-center text-6xl font-semibold pt-3">INFO@SILUETAGROUP.COM</h1>
  <h1 class="text-white text-center text-6xl font-semibold">+5491140717578</h1>

  <h2 class="pt-10 text-blue-700">.</h2>
  <h2 class="pt-10 text-blue-700">.</h2>
  <h2 class="pt-10 text-blue-700">.</h2>
  <h2 class="pt-10 text-blue-700">.</h2>
  <h2 class="pt-10 text-blue-700">.</h2>
  <h2 class="pt-10 text-blue-700">.</h2>
  <h2 class="pt-10 text-blue-700">.</h2>
  <h2 class="pt-10 text-blue-700">.</h2>
  <h2 class="pt-10 text-blue-700">.</h2>
  <h2 class="pt-10 text-blue-700">.</h2>


  <h3 class="text-white text-center text-2xl font-medium">ROCAMORA 4343, PISO 8 DEPTO 01</h3>
  <h3 class="text-white text-center text-2xl font-medium">1425, BUENOS AIRES, ARGENTINA</h3>

</div>
