<%= content_for :menu do %>
""
<% end %>

<div class="bg-blue-700 flex-grow-1" style=" min-height: 100vh; display: flex; flex-direction: column;">

  <div class="pr-3 pt-3">
    <div class="py-2" style="padding-left: 97%">
      <div class="border-2 border-white rounded-full mx-2">
        <h1 class="text-white text-right text-2xl pr-2"><%= link_to 'X', home_path %></h1>
      </div>
    </div>
  </div>

  <h1 class="text-white text-center text-8xl font-semibold">HOLA@SILUETAGROUP.COM</h1>
  <h1 class="text-white text-center text-8xl font-semibold">+54 9 11 4071 7578</h1>

  <div class="text-center text-2xl bg-white font-medium" style="margin-top: auto;">
    <div class="bg-blue-700 py-4">
      <h3 class="text-white">ROCAMORA 4343</h3>
      <h3 class="text-white">1425, BUENOS AIRES, ARGENTINA</h3>
    </div>
    <h1 class="py-2">INSTAGRAM, FACEBOOK, LINKEDIN</h1>
  </div>

</div>

