<%= content_for :menu do %>
""
<% end %>

<div class="bg-blue-700 flex-grow-1" style=" min-height: 100vh; display: flex; flex-direction: column;">

  <div class="pr-3 pt-3">
    <div class="py-2" style="padding-left: 97%">
      <div class="btn mx-2">
        <h1 class="mx-2 text-white text-center text-2xl"><%= link_to 'X', home_path %></h1>
      </div>
    </div>
  </div>

  <h1 class="text-white text-center text-8xl font-semibold">HOLA@SILUETAGROUP.COM</h1>
  <h1 class="text-white text-center text-8xl font-semibold">+54 9 11 4071 7578</h1>

  <div class="text-center text-2xl font-medium" style="margin-top: auto;">
    <div class="bg-blue-700 pt-4 pb-2">
      <h3 class="text-white">ROCAMORA 4343</h3>
      <h3 class="text-white">1425, BUENOS AIRES, ARGENTINA</h3>
    </div>
    <!-- <h1 class="py-2">INSTAGRAM, BEHANCE, LINKEDIN</h1> -->
    <a href="#"><i style="color: white;" class="pb-8 px-2 fab fa-instagram"></i></a>
    <a href="#"><i style="color: white;" class="pb-8 px-2 fab fa-facebook"></i></a>
    <a href="#"><i style="color: white;" class="pb-8 px-2 fab fa-twitter"></i></a>
  </div>

</div>

