<%= content_for :menu do %>
""
<% end %>

<div class="h-screen">

  <div class="h-1/6 justify-center">

    <div class="" style="margin-left: 710px;">
      <%= image_tag asset_path('logo.png')%>
    </div>

    <div class="flex subs justify-center">
      <h2 class="mx-2">About us</h2>
      <h2 class="mx-2">Contact</h2>
    </div>

  </div>

  <div class="h-5/6 flex">

    <div class="w-1/2 home-background-left">
      <h1 class="header text-center mt-80">Archtecture</h1>
    </div>
    <div class="w-1/2 home-background-right">
      <h1 class="header text-center mt-80">Visualization</h1>
    </div>

  </div>

</div>
